<div class="panel panel-primary">
  <div class="panel-body">
    <div class="form-group">
      <label class="col-md-4 filter-label">Filter by criteria</label>
      <select class="form-control" (change)="onChange($event.target.value)">
        <option value="all">All salaries</option>
        <option value="salariedId">Salaried id</option>
        <option value="firstName">Firstname</option>
        <option value="lastName">Lastname</option>
        <option value="tel">Phone number</option>
      </select>
    </div>
    <table class="table table-hover table-striped" *ngIf="salaries">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Tel</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let salaried of salaries">
          <td>{{ salaried.firstName }}</td>
          <td>{{ salaried.lastName }}</td>
          <td>{{ salaried.tel }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
